*{
	font-family: Arial;
	color: #66554;
	text-align: center;
}
#nav. #feature. .article. #footer{
background-color: aqua;
margin-top: 20 px;
padding: 10px 0 px 5px 0px;}
#feature. .article
{height: 100px}
li {display: inline;
padding: 5px;}


